@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url(/Inter/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
  --text-primary-01:black;
  --background-primary-01: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary-01: white;
    --background-primary-01: black;
  }
}

*{
  font-family:'Inter';  
  color: var(--foreground-rgb);
  font-size:14px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
